/* NAV */
.nav-logo {
  height: 40px;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

/* FOOTER */
.ui.inverted.vertical.footer.segment {
  position: fixed;
  left:0px;
  bottom:0px;
  width:100%;
  padding: 20px 0
}

.ui.centered.image.footer-img {
  width: 100px;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

/* MAIN */
.main-section {
  margin-top: 100px;
}

/* GENERAL */
.main.container {
  margin-top: 7em;
}

.wireframe {
  margin-top: 2em;
}
